<h1 style="color:MediumSeaGreen;">‧͙⁺˚*･༓☾ Akhyra's Restaurant list☽༓･*˚⁺‧͙</h1>
<body style="background-color:papayawhip;">
<br>
<dl>
  <% @restaurants.each do |restaurant| %>
  <dt><%= link_to restaurant.name, restaurant_path(restaurant) %></dt>
  <dd><%= link_to restaurant.address, restaurant_path(restaurant) %></dd>
    <% end %>
</dl>

<button type="button"><%= link_to "Add", new_restaurant_path %></button>
